header{
    position:absolute;
    width:100%;
    padding:35px 0;
}
.brand_logo img{
    width:150px;
    height:30px:
}
.header{
    display:flex;
    align-items:center;
    justify-content:space-between
}
nav ul{
    display:flex;
    align-items:center;
    gap:16px;
}
.hamburger{
    display:none;
}
nav ul li{
    list-style:none;
}
nav ul li a{
    color: var(--secondary-text-color);
    text-decoration:none;
}
nav ul li a:hover{
    color:var(--primary-color);
}
.nav_btn{
    display:flex;
    align-items:center;
    gap:10px;
}
.banner{
    padding:180px 0px 80px 0px;
    background-image:url("../assets/banner_bg.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
}
.banner_content{
    display:flex;
    align-items:center;
    gap:80px;
    justify-content:space-between;
    width:100%;
}
.banner_content .content{
    flex:1 1 0%;
    width:50%;
}
.banner_content .content h1{
    font-size:46px;
    line-height:56px;
    font-weight:200;
}
.banner_content .content .description{
    margin-top:20px;
    font-size:14px;
    color:var(--secondary-text-color);
    line-height:22px;
}
.banner_content .content h1 span{
    font-weight:900;
}
.banner_content .content .email_submit{
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
    margin:16px 0;
}
.banner_content .content input{
   height:44px;
   flex: 14; 

}
.banner_content .content button{
   height:44px;
   /* width:30%; */
   flex: 7; 
}
.otherwise{
    display:flex;
    align-items:center;
    gap:18px;
    margin:24px 0;
}
.otherwise .content{
    text-align:center;
    margin:0;
    white-space:nowrap;
    font-size:14px;
    color:var(--secondary-text-color);
}
.otherwise .left,
.otherwise .right
{
   height:1px;
   background-color:var(--border-primary);
   width:100%;
}
.google_login{
    width:100%;
    border:1px solid var(--border-primary);
}
.banner_img{
    border-radius:8px;
    position:relative;
    flex: 1 1 0%;
    max-width: 600px;
    /* overflow:hidden; */
}
.banner_img .dashboard_img{
    width: 100%;
    padding:10px;
    background-color:white;
    border-radius:8px;
    box-shadow:0 0 8px var(--shadow);
}
.banner_img .quick_details{
    position:absolute;
    top:-35%;
    right:-15%;
}
.banner_img .new_order{
    position:absolute;
    right:10%;
    bottom:-40%;
}