header{
    position:absolute;
    width:100%;
    padding:35px 0;
}
.brand_logo img{
    width:150px;
    height:30px:
}
.header{
    display:flex;
    align-items:center;
    justify-content:space-between
}
nav ul{
    display:flex;
    align-items:center;
    gap:16px;
}
.hamburger{
    display:none;
}
nav ul li{
    list-style:none;
}
nav ul li a{
    color: var(--secondary-text-color);
    text-decoration:none;
}
nav ul li a:hover{
    color:var(--primary-color);
}
.nav_btn{
    display:flex;
    align-items:center;
    gap:10px;
}
.banner{
    padding:180px 0px 80px 0px;
    background-image:url("../assets/banner_bg.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
}
.banner_content{
    display:flex;
    align-items:center;
    gap:80px;
    justify-content:space-between;
    width:100%;
}
.banner_content .content{
    flex:1 1 0%;
    width:50%;
}
.banner_content .content h1{
    font-size:46px;
    line-height:56px;
    font-weight:200;
}
.banner_content .content .description{
    margin-top:20px;
    font-size:14px;
    color:var(--secondary-text-color);
    line-height:22px;
}
.banner_content .content .email_submit{
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
    margin:16px 0;
}
.banner_content .content input{
   height:44px;
   flex: 14; 

}
.banner_content .content button{
   height:44px;
   /* width:30%; */
   flex: 7; 
}
.otherwise{
    display:flex;
    align-items:center;
    gap:18px;
    margin:24px 0;
}
.otherwise .content{
    text-align:center;
    margin:0;
    white-space:nowrap;
    font-size:14px;
    color:var(--secondary-text-color);
}
.otherwise .left,
.otherwise .right
{
   height:1px;
   background-color:var(--border-primary);
   width:100%;
}
.google_login{
    width:100%;
    border:1px solid var(--border-primary);
}
.banner_img{
    border-radius:8px;
    position:relative;
    flex: 1 1 0%;
    max-width: 600px;
    /* overflow:hidden; */
}
.banner_img .dashboard_img{
    width: 100%;
    padding:10px;
    background-color:white;
    border-radius:8px;
    box-shadow:0 0 8px var(--shadow);
}
.banner_img .quick_details{
    position:absolute;
    top:-35%;
    right:-15%;
}
.banner_img .new_order{
    position:absolute;
    right:10%;
    bottom:-40%;
}

/* Brand Section  */
.brand_section{
    max-width:800px;
    margin:auto;
}
.brand_section .brand_content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:75px;
}
.brand_section img{
    width:135px;
    height:42px;
}

/* Task Management Section start */
.task_content{
    text-align:center;
    text-transform: capitalize;
}
/* step */
.step-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width:710px;
    margin:auto;
    margin-top:6px;
    position:relative;
}
.step-container::before{
    content:"";
    position:absolute;
    max-width:510px;
    margin:auto;
    top:15px;
    left:0;
    right:0;
    width:100%;
    height:1px;
    z-index:-1;
    background-color: var(--border-primary);
}
.step{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex: 1;
    position:relative;
    index:2;
}
.circle{
    width:30px;
    height:30px;
    border-radius:50%;
    border:8px solid var(--secondary-color);
    margin-bottom:8px;
    background-color:white;
}
/* active circle */
.step.active .circle{
    border:8px solid var(--primary-color);
}
/* content */
.task_management_content{
    display:flex;
    align-items:center;
    gap:40px;
    justify-content:center;
}
.task_management_content img{
    width:100%;
    max-width:670px;
    height:auto;
}
.task_management_text{
    text-align:left;
    max-width:370px;
    margin-left:0;
}
/* Task Management Section end */

/* Tools Section start */
.tools_content{
    background-image:url("../assets/stack/stack_bg.png");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    gap:40px;
    justify-content:center;
}
.tools_content img{
    width:100%;
    max-width:452px;
    height:auto;
}
.tools_text{
    max-width:337px;
    text-align:left;
    margin-left:0;
}
/* Tools Section end */

/* growth_section start */
.growth_section{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:90px;
}
.growth_section .content{
    max-width:337px;
    margin-left:0;
    text-align:left;
}
.growth_section_right{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
    text-align:center;
}
.growth_section_right .box img{
    width:60px;
    height:70px;
    margin-bottom:16px;
}
/* growth_section end */