header{
    position:absolute;
    width:100%;
    padding:35px 0;
}
.brand_logo img{
    width:150px;
    height:30px:
}
.header{
    display:flex;
    align-items:center;
    justify-content:space-between
}
nav ul{
    display:flex;
    align-items:center;
    gap:16px;
}
#menu-toggle{
    display:none;
}
.hamburger{
    display:none;
}
nav ul li{
    list-style:none;
}
nav ul li a{
    color: var(--secondary-text-color);
    text-decoration:none;
}
nav ul li a:hover{
    color:var(--primary-color);
}
.nav_btn{
    display:flex;
    align-items:center;
    gap:10px;
}
.banner{
    padding:180px 0px 80px 0px;
    background-image:url("../assets/banner_bg.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
}
.banner_content{
    display:flex;
    align-items:center;
    gap:80px;
    justify-content:space-between;
    width:100%;
}
.banner_content .content{
    flex:1 1 0%;
    width:50%;
}
.banner_content .content h1{
    font-size:46px;
    line-height:56px;
    font-weight:200;
}
.banner_content .content .description{
    margin-top:20px;
    font-size:14px;
    color:var(--secondary-text-color);
    line-height:22px;
}
.banner_content .content .email_submit{
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
    margin:16px 0;
}
.banner_content .content input{
   height:44px;
   flex: 14; 

}
.banner_content .content button{
   height:44px;
   /* width:30%; */
   flex: 7; 
}
.otherwise{
    display:flex;
    align-items:center;
    gap:18px;
    margin:24px 0;
}
.otherwise .content{
    text-align:center;
    margin:0;
    white-space:nowrap;
    font-size:14px;
    color:var(--secondary-text-color);
}
.otherwise .left,
.otherwise .right
{
   height:1px;
   background-color:var(--border-primary);
   width:100%;
}
.google_login{
    width:100%;
    border:1px solid var(--border-primary);
}
.banner_img{
    border-radius:8px;
    position:relative;
    flex: 1 1 0%;
    max-width: 600px;
    /* overflow:hidden; */
}
.banner_img .dashboard_img{
    width: 100%;
    padding:10px;
    background-color:white;
    border-radius:8px;
    box-shadow:0 0 8px var(--shadow);
}
.banner_img .quick_details{
    position:absolute;
    top:-35%;
    right:-15%;
}
.banner_img .new_order{
    position:absolute;
    right:10%;
    bottom:-40%;
}

/* Brand Section  */
.brand_section{
    max-width:800px;
    margin:auto;
}
.brand_section .brand_content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:75px;
}
.brand_section img{
    width:135px;
    height:42px;
}

/* Task Management Section start */
.task_content{
    text-align:center;
    text-transform: capitalize;
}
/* step */
.step-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width:710px;
    margin:auto;
    margin-top:6px;
    position:relative;
}
.step-container::before{
    content:"";
    position:absolute;
    max-width:510px;
    margin:auto;
    top:15px;
    left:0;
    right:0;
    width:100%;
    height:1px;
    z-index:-1;
    background-color: var(--border-primary);
}
.step{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex: 1;
    position:relative;
    index:2;
}
.circle{
    width:30px;
    height:30px;
    border-radius:50%;
    border:8px solid var(--secondary-color);
    margin-bottom:8px;
    background-color:white;
}
/* active circle */
.step.active .circle{
    border:8px solid var(--primary-color);
}
/* content */
.task_management_content{
    display:flex;
    align-items:center;
    gap:40px;
    justify-content:center;
}
.task_management_content img{
    width:100%;
    max-width:670px;
    height:auto;
}
.task_management_text{
    text-align:left;
    max-width:370px;
    margin-left:0;
}
/* Task Management Section end */

/* Tools Section start */
.tools_content{
    background-image:url("../assets/stack/stack_bg.png");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    gap:40px;
    justify-content:center;
}
.tools_content img{
    width:100%;
    max-width:452px;
    height:auto;
}
.tools_text{
    max-width:337px;
    text-align:left;
    margin-left:0;
}
/* Tools Section end */

/* growth_section start */
.growth_section{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:100px;
    margin-top:60px;
}
.growth_section .content{
    max-width:377px;
    margin-left:0;
    text-align:left;
}
.growth_section_left{
    display:flex;
    gap:50px;
    text-align:left;
    margin-top:40px;
}
.growth_section_left div h3{
    font-size:32px;
    font-weight:600;
    margin-bottom:4px;
}
.growth_section_left div p{
    font-size:12px;
    color:var(--secondary-text-color);
}
.growth_section_left .first h3{
    color:#FFBB33;
}
.growth_section_left .second h3{
    color:var(--primary-color);
}
.growth_section_left .third h3{
    color:#1E858B;
}
.growth_section_right{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
    text-align:center;
}
.growth_section_right .box{
    box-shadow:0 0 8px var(--shadow);
    padding:52px 32px;
    border-radius:8px;
}
.growth_section_right .box img{
    width:60px;
    height:70px;
    margin-bottom:16px;
}
/* growth_section end */

/* workflow_setting start */
.workflow_setting{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
    margin-top:60px;
    background-image:url("../assets/setting/setting_bg.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding:190px 100px;
} 
.workflow_setting img{
    /* width:100%; */
    max-width:700px;
    height:342px;
}

/* workflow_setting end */
/* identity section started */
.identity_section{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
    margin-top:60px;
}
.identity_section img{
    width:100%;
    max-width:500px;
    height:auto;
}
.identity_section_content{
    max-width:400px;
}
.identity_section_content ul{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    gap:2px;
}
.identity_section_content ul li{
    font-size:14px;
    color:var(--secondary-text-color);
}
.identity_section_content ul li .icon{
    color:var(--primary-color);
    margin-right:8px;
}
/* identity section end */
/* testimonial_section start */
.testimonial_content{
    text-align:center;
    margin:40px 0;
}
.testimonial_cards{
    display:flex;
    gap:30px;
    justify-content:center;
    margin-top:40px;
}
.testimonial_cards .card{
    background-color:white;
    box-shadow:0 0 8px var(--shadow);
    border-radius:8px;
    padding:30px 20px;
    max-width:300px;
    text-align:center;
}
.testimonial_cards .card img{
    border-radius:50%;
    object-fit:cover;
}
.testimonial_section{
    text-align:center;
}
.testimonial_section a{
    margin-top:40px;
    display:inline-block;
    /* margin:auto; */
}
/* testimonial_section end */
/* footer section start */
.footer_section{
    background-image:url("../assets/footer.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding:105px 0 40px 0;
}
.footer_section .container .head{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    gap:20px;
}
.footer_section .container .head h2{
    max-width:558px;
    margin:auto;
}
.footer_section .container .head a{
    width:fit-content;
    margin:auto;
}
.footer_content{
    display:flex;
    justify-content:space-between;
    margin-top:60px;
    border-top:1px solid var(--border-primary);
    border-bottom:1px solid var(--border-primary);
    padding:60px 0;
}
.footer_content .section_description{
    max-width:300px;
    line-height:24px;
    margin-top:20px;
}
.email_info_submit{
    display:flex;
    flex-direction:column;
    gap:10px;
}
.email_info_submit input{
    border-radius:6px 0 0 6px;
}
.email_info_submit button{
    border-radius:0 6px 6px 0;
}
.footer_links{
    display:flex;
    gap:80px;
}
.footer_links .footer_link h3{
    margin-bottom:16px;
}
.footer_links .footer_link ul li{
    margin-bottom:10px;
}
.footer_links .footer_link ul li a{
    color:var(--secondary-text-color);
    text-decoration:none;
}
.footer_links .footer_link ul li a:hover{
    color:var(--primary-color);
}
.email_info_submit h5{
    font-size:18px;
    font-weight:600;
    color:var(--text-color);
}
#footer_email{
    display:flex;
}
.copyright{
    text-align:center;
    margin-top:40px;
    font-size:14px;
    color:var(--secondary-text-color);
}
.copyright a{
    color:var(--primary-color);
}
.copyright a:hover{
    text-decoration:underline;
}
/* footer section end */