@media (max-width: 800px) {
  .container {
  max-width: 100%;
  padding: 0 12px;
}

.section {
  margin-top: 40px;
}

.section_description {
  max-width: 100%;
  text-align: center;
}
h1 .h1{
    font-size:2px !important;
    text-align:center;
}
.banner_content .content {
  width: 100%;
}
.banner_content .content h1{
    font-size:28px;
    text-align:center;
    line-height:34px;
}
.h2 , h2{
    font-size:28px;
    text-align:center;
}

.nav_btn {
  display: none;
}

nav ul {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background: black;
  transition: all 0.3s ease;
}

.nav_menu {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 150px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px var(--shadow);
  display: none;
  flex-direction: column;
  gap: 10px;
}

/* hamburger animation */
#menu-toggle:checked ~ .nav_menu {
  display: flex;
}

#menu-toggle:checked ~ .hamburger .middle {
  opacity: 0;
}

#menu-toggle:checked ~ .hamburger .top {
  transform: rotate(45deg) translate(5px, 5px);
}

#menu-toggle:checked ~ .hamburger .bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* common column layout */
.column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}
  .brand_logo img {
    width: 100px;
  }

  .banner {
    padding: 140px 0 80px;
  }

  .banner_content,
  .brand_section .brand_content,
  .task_management_content,
  .tools_content,
  .workflow_setting,
  .growth_section,
  .identity_section,
  .footer_content {
    flex-direction: column;
    text-align: center;
  }
   .growth_section_right{
    gap:10px;
  }
  .workflow_setting img{
    max-width:100%;
    height:auto;
  }
  .task_management_text{
    text-align:center;
}
.task_management_text a{
    align-items:center;
    display:inline-block;
    margin: 20px auto 0 auto;
}
  .testimonial_cards {
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 10px;
  }

  footer {
    padding: 0 20px;
    text-align: center;
  }
  .footer_content{
    gap:30px;
  }
  .footer_links{
    justify-content:center;
  }
  .footer_content .email_info_submit{
    align-items:center;
  }
}
/*  */
@media (min-width: 601px) and (max-width: 1024px) {

  .container {
    padding: 0 24px;
  }

  .section {
    margin-top: 60px;
  }

  nav ul {
    display: flex;
    gap: 20px;
  }

  .hamburger {
    display: none;
  }

  .nav_btn {
    display: flex;
    gap: 10px;
  }

  .banner_content,
  .task_management_content,
  .tools_content,
  .growth_section,
  .identity_section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
 .brand_section .brand_content {
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
  }
  .testimonial_cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  footer {
    padding: 0 30px;
  }
}
