/* mobile responsive : up 600px */
@media (max-width: 600px) {
  .container {
    max-width: 1220px;
    padding: 0 16px;
  }
    .container {
        max-width: 100%;
        padding: 0 12px;
    }
    .section {
        margin-top: 40px;
    }
    .section_description {
        max-width: 100% !important;
        text-align: center;
    }
  .brand_logo img {
    width: 100px;
    height: 20px;
  }
  nav ul {
    display: none;
  }
  .nav_menu{
    display:absolute;
    top:60px;
    right:20px;
    background-color:white;
    box-shadow:0 0 8px var(--shadow);
    border-radius:8px;
    flex-direction:column;
    width:150px;
    padding:10px;
    gap:10px;
  }
.hamburger {
    display: flex;
    flex-direction:column;
    gap:5px;
    cursor:pointer;
  }
   #menu-toggle:checked ~ .nav_menu {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .nav_btn {
    display: none;
  }
  .hamburger .top,
  .hamburger .middle,
  .hamburger .bottom{
    height:2px;
    background-color:black;
    width:30px;
  }
  .nav_btn {
    display: none;
  }
  .banner {
    padding: 140px 0px 80px 0px;
  }
  .banner_content {
    display: flex;
    flex-direction: column;
  }
  .banner_content .content {
    flex: 1 1 0%;
    width: 100%;
  }
  .banner_content .content h1 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 200;
  }
  .banner_content .content .description {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
  }
  .banner_content .content input {
    height: 44px;
    flex: 8;
  }
  .banner_img .quick_details {
    display: none;
  }
  .banner_img .new_order {
    display: none;
  }
  /* brand section */
  .brand_section .brand_content{
    flex-direction:column;
    align-items:center;
    gap:24px;
}
/* task management section */
/* step */
.step-container{
  margin-top:40px;
}
.step-container::before{
    max-width:300px;
}
.task_management_content{
    flex-direction:column-reverse;
    gap:40px;}
    .task_management_text{
      max-width:100%;
    text-align:center;
    }
    /* tools_content */
.tools_content{
    flex-direction:column;}
    .tools_text{
      max-width:100%;
    text-align:center;
    }
    /* growth_section */
    .growth_section{
    flex-direction:column;
    }
    .growth_section .content{
      max-width:100%;
      text-align:center;
    }
    .growth_section_left{
      text-align:center;
      justify-content:center;
    }
    .growth_section_right{
      gap:10px;
    }
    .workflow_setting{
      flex-direction:column-reverse;
      gap:20px;
    }
    .workflow_setting img{
    width:100%;
}
.workflow_content h2{
  text-align:center;
}
/* identity_section */
.identity_section{
    flex-direction:column;
    gap:40px;}
    .identity_section_content{
      max-width:100%;
      text-align:center;
    }
    /* footer */
    .footer_content{
    flex-direction:column;
    gap:40px;
}
/* testimonial */
.testimonial_cards{
  overflow-x:auto;
  flex-wrap:nowrap;
  gap:10px;
}
.testimonial_cards .card img{
    border-radius:50%;
    object-fit:cover;
}
/* footer */
footer{
    text-align:center;
    padding:0 20px;
}
.footer_content p{
    max-width:100%;
    text-align:center;
}
.footer_content .section_description{
    max-width:100%;
    line-height:24px;
    margin-top:20px;
}
.footer_links{
  justify-content:center;
}
.email_info_submit{
  max-width:100%;
}
.email_info_submit input{
    width:100%;}
}