button{
    border:none;
}
.btn{
    border-radius:6px;
    border:1px solid var(--primary-color);
    font-size:16px;
    font-weight:500;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:8px;
    justify-content:center;
}
.btn svg{
    width:16px;
}
.btn_primary{
    background-color: var(--primary-color);
    color:white;
    padding: 10px 18px;
}

.btn_outline{
    background-color:transparent;
    color:black;
    padding: 7px 18px;
}
.btn_primary:hover{
    opacity:0.9;
}
.btn_outline:hover{
    background-color: var(--primary-color);
    color:white;
}
input{
    border-radius:6px;
    border:1px solid var(--border-primary);
    padding:12px;
    font-size:14px;
    transition:border 0.3 ease;
}
input:focus{
    border:1px solid var(--primary-color);
    box-shadow: 0 0 8px var(--shadow);
    outline:none;
}
/* common css */
.highlight{
    font-weight:900;
     display: inline;
}
.h2 , h2{
    font-size:36px;
    font-weight:200;
    margin-bottom:20px;
    text-transform:capitalize;
}
.section_description , .p{
    font-size:14px;
    color:var(--secondary-text-color);
    line-height:24px;
    max-width:514px;
    margin:auto;
    margin-bottom:10px;
}