.btn{
    border-radius:6px;
    border:1px solid #FF3158;
    font-size:16px;
    font-weight:500;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:8px;
    justify-content:center;
}
.btn svg{
    width:16px;
}
.btn_primary{
    background-color: #FF3158;
    color:white;
    padding: 10px 18px;
}

.btn_outline{
    background-color:transparent;
    color:black;
    padding: 7px 18px;
}
.btn_primary:hover{
    opacity:0.9;
}
.btn_outline:hover{
    background-color: #FF3158;
    color:white;
}
input{
    border-radius:6px;
    border:1px solid #CECECE;
    padding:12px;
    font-size:14px;
    transition:border 0.3 ease;
}
input:focus{
    border:1px solid #FF3158;
    box-shadow: 0 0 8px rgba(255,49,88,0.3);
    outline:none;
}