name: Build and Deploy Jekyll Site

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Jekyll site
        uses: actions/jekyll-build-pages@v1
        with:
          source: .        
          destination: ./_site
